{% extends "OCBlogBundle::layout.html.twig" %}

{% block title %}
  Modification d'une article -{{parent()}}
{% endblock %}

{% block oc_body %}
    <h2>Modification d'un article</h2>
    {{ include("OCBlogBundle:Article:form.html.twig") }}
    <p>Vous éditez une annonce déjà existante, merci de ne pas changer
    l'esprit général de l'annonce déjà publiée.</p>
    <p>
      <a href="{{path('oc_blog_home')}}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>
        Retour à l'annonce  </a>
    </p> 	
</p>
{% endblock %}