{# src/OC/BlogBundle/Resources/views/Article/form.html.twig #}

<h3>Formulaire d'articles</h3>

On laisse vide la vie pour l'instant, on la comblera plus tard

<div class="well">
	Ici se trouvera le formulaire
</div> 